/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: "Gotham Rounded";
  font-display: swap;
  src: url("../fonts/GothamRounded-Medium.woff2") format("woff2"), url("../fonts/GothamRounded-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Gotham Rounded Book";
  font-display: swap;
  src: url("../fonts/GothamRounded-Book.woff2") format("woff2"), url("../fonts/GothamRounded-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gotham Rounded";
  font-display: swap;
  src: url("../fonts/GothamRounded-MediumItalic.woff2") format("woff2"), url("../fonts/GothamRounded-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

body,
html {
  margin: 0 auto;
  padding: 0;
  font-family: "Gotham Rounded Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  color: #8c9398; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  min-width: 1200px; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

.main-header {
  width: 100%;
  position: relative; }

.main-header__promo {
  margin: 0 auto;
  padding-top: 245px;
  padding-bottom: 343px;
  text-align: center;
  background-color: #f3f5f8;
  background-image: url("../img/bg_header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.main-header__promo-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.main-header__headline {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 20px;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 13px;
  color: #353535;
  text-transform: uppercase; }

.main-header__headline--grey {
  padding-left: 0;
  color: #8c9398; }

.main-header__descr {
  margin: 0;
  padding: 0;
  padding-bottom: 66px;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2.4px; }

.main-header__descr--italic {
  font-family: "Gotham Rounded Medium Italic", "Arial", sans-serif;
  font-weight: 500;
  font-style: italic; }

.main-header__button {
  padding: 22px 40px;
  font-family: "Gotham Rounded Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2.4px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #3dc9b3;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -3px 0 0 #309383;
          box-shadow: inset 0 -3px 0 0 #309383; }
  .main-header__button:hover, .main-header__button:focus {
    background-color: #74c8bb;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in; }
  .main-header__button:active {
    background-color: #309383; }

.main-header__description {
  width: 100%;
  margin: 0 auto;
  padding-top: 105px;
  padding-bottom: 120px;
  text-align: center;
  background-color: #f3f5f8; }

.main-header__description-wrapper {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.main-header__description-title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 95px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #353535; }
  .main-header__description-title::after {
    position: absolute;
    content: "";
    bottom: 58px;
    left: 50%;
    margin-left: -278px;
    width: 555px;
    height: 15px;
    background-image: url("../img/bg_headline.png");
    background-repeat: no-repeat;
    background-position: center; }

.main-header__description-text {
  width: 750px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px; }

.main-header__description-accent {
  color: #353535; }

.main-header__menu {
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 58px;
  right: 235px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  z-index: 10; }

.main-header__menu-cross {
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #353535; }
  .main-header__menu-cross::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    width: 25px;
    height: 3px;
    background: #353535; }
  .main-header__menu-cross::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 25px;
    height: 3px;
    background: #353535; }

.main-header__menu-cross--active {
  height: 0;
  top: -17px; }
  .main-header__menu-cross--active::before {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 30px;
    right: 0;
    content: "";
    background-color: #353535;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .main-header__menu-cross--active::after {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 30px;
    right: 0;
    content: "";
    background-color: #353535;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.main-header__menu--active {
  background-color: transparent;
  width: 100%;
  top: 32px;
  right: 0; }

.main-header__menu-button {
  width: 25px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 11; }

.main-header__menu-button--active {
  top: 30px;
  right: 233px; }

.main-header__menu-list {
  display: none; }

.main-header__menu-list-active {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-header__menu-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent; }
  .main-header__menu-item:hover, .main-header__menu-item:focus {
    border: 1px solid #353535;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear; }

.main-header__menu-item:hover .main-header__menu-link {
  color: #353535; }

.main-header__menu-link {
  display: block;
  padding: 15px;
  font-family: "Gotham Rounded Medium", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #8c9398;
  text-decoration: none; }

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto; }

.feature-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.feature__headline {
  position: relative;
  margin: 0 auto;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 123px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #353535; }
  .feature__headline::after {
    position: absolute;
    content: "";
    bottom: 88px;
    left: 50%;
    margin-left: -277px;
    width: 555px;
    height: 15px;
    background-image: url("../img/bg_headline.png");
    background-repeat: no-repeat;
    background-position: center; }

.feature__list {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0; }

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 120px;
  text-align: center; }

.feature__item-headline {
  position: relative;
  margin: 0;
  padding: 0 15px;
  padding-bottom: 50px;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #353535; }
  .feature__item-headline::before {
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
    border-radius: 50%;
    background-color: #3dc9b3; }
  .feature__item-headline::after {
    content: "";
    display: block;
    position: absolute;
    top: 240px;
    left: 50%;
    margin-left: -18px;
    width: 35px;
    height: 5px;
    background-color: #3dc9b3; }

.feature__item-headline--digital::before {
  background-image: url("../img/icon_laptop.png");
  background-repeat: no-repeat;
  background-position: 42px 51px; }

.feature__item-headline--web::before {
  margin-left: 15px;
  background-image: url("../img/icon_arrows.png");
  background-repeat: no-repeat;
  background-position: 45px 51px; }

.feature__item-headline--love::before {
  background-image: url("../img/icon_heart.png");
  background-repeat: no-repeat;
  background-position: 44px 47px; }

.feature__item-description {
  width: inherit;
  margin: 0;
  padding: 0;
  font-family: "Gotham Rounded Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  word-spacing: 3px; }

.slider {
  margin: 0 auto 130px;
  position: relative;
  min-height: 570px; }

.slider-slides {
  width: 1200px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  margin-right: 204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f5f5;
  background-image: url("../img/slider_phone-1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto; }

.slider-slides__group {
  position: relative;
  display: none;
  min-height: 656px;
  width: 585px;
  margin-left: auto;
  margin-bottom: -13px;
  padding-bottom: 100px;
  background-color: #ffffff; }
  .slider-slides__group::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: -100px;
    width: 100px;
    height: 100%;
    background-image: url("../img/bg_shadow-left.png");
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.slider-slides__group--active {
  display: block; }

.slide-headline {
  position: relative;
  width: 550px;
  margin: 0 auto;
  padding: 0;
  padding-left: 70px;
  padding-top: 130px;
  padding-bottom: 75px;
  text-align: center;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  color: #353535; }
  .slide-headline::after {
    position: absolute;
    content: "";
    top: 170px;
    left: 94px;
    width: 430px;
    height: 15px;
    background-image: url("../img/bg_headline.png");
    background-repeat: no-repeat;
    background-position: center; }

.slide-description {
  margin: 0 auto;
  padding-left: 98px;
  padding-right: 10px; }

.slide-text {
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0 0 20px;
  font-size: 15px;
  line-height: 20px; }

.slide-controls {
  width: 585px;
  position: relative;
  bottom: 0;
  right: -30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff; }

.slide-btn {
  width: 13px;
  height: 13px;
  margin-left: 8px;
  padding: 0;
  border: 2px solid #8c9398;
  border-radius: 50%;
  background-color: #ffffff; }

.slide-btn--active {
  background-color: #000000; }

.advantage__header {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/flower.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/flower.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.advantage__slides {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.advantage__header-headline {
  margin: 0 auto;
  padding: 0;
  padding-top: 72px;
  padding-bottom: 13px;
  padding-left: 10px;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; }

.advantage__header-subheadline {
  margin: 0 auto;
  padding: 0;
  padding-left: 9px;
  padding-bottom: 37px;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  color: #ffffff; }

.advantage__header-subheadline span {
  font-family: "Gotham Rounded Medium Italic", "Arial", sans-serif;
  font-weight: 500;
  font-style: italic; }

.advantage__header-button {
  position: relative;
  bottom: 0;
  left: 16px;
  display: inline-block;
  width: 43px;
  height: 43px;
  margin-bottom: 55px;
  border-radius: 50%;
  background-color: #3dc9b3; }
  .advantage__header-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    left: 16px;
    width: 10px;
    height: 10px;
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.advantage__group {
  display: none;
  padding: 0 15px; }

.advantage__group--active {
  display: block;
  -webkit-animation: bounceInRight 1s;
          animation: bounceInRight 1s; }

.advantage__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.advantage__item {
  width: 360px;
  padding-bottom: 67px; }

.advantage__link {
  text-decoration: none; }

.advantage__image {
  position: relative;
  width: 360px;
  height: 200px;
  margin-bottom: 45px; }

.advantage__image--creative {
  background-color: #ea7567; }

.advantage__image--think {
  background-color: #06d2ea; }

.advantage__image--pixel {
  background-color: #3dc9b3; }

.advantage__img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #ffffff; }

.advantage__image:hover .advantage__img-container {
  display: block;
  background: rgba(113, 176, 156, 0.7) url("../img/icon_search.png");
  background-repeat: no-repeat;
  background-position: 50% 44%; }

.advantage__img__title {
  margin: 0;
  padding: 0;
  padding-top: 120px;
  font-family: "Gotham Rounded Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center; }

.advantage__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 47px;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #353535; }
  .advantage__title::after {
    content: "";
    display: block;
    position: absolute;
    top: 31px;
    left: 50%;
    margin-left: -18px;
    width: 35px;
    height: 5px;
    background-color: #3dc9b3; }

.advantage__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center; }

.advantage-controls {
  text-align: center;
  padding-bottom: 110px; }

.advantage-controls .slide-btn {
  margin: 0 2px; }

.advantage__button-wrapper {
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 88px;
  text-align: center;
  background-color: #242830; }

.advantage__button {
  padding: 29px 40px;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  background: transparent; }
  .advantage__button:hover {
    background-color: #3d434e;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in; }
  .advantage__button:active {
    background-color: #3d3d3d; }

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.our-teams {
  width: 100%;
  margin: 0 auto; }

.our-teams-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.our-teams__headline {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 84px;
  padding-bottom: 96px;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #353535;
  text-align: center; }
  .our-teams__headline::after {
    position: absolute;
    content: "";
    bottom: 66px;
    left: 306px;
    width: 555px;
    height: 15px;
    background-image: url("../img/bg_headline.png");
    background-repeat: no-repeat;
    background-position: center; }

.our-teams__group {
  display: none;
  margin-bottom: 10px; }

.our-teams__group--active {
  display: block;
  -webkit-animation: bounceInRight 1s;
          animation: bounceInRight 1s; }

.our-teams__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.our-teams__item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 77px; }

.our-teams__item--dribbble,
.our-teams__social-item--dribbble {
  background-image: url("../img/icon_dribbble.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.our-teams__item--twitter,
.our-teams__social-item--twitter {
  background-image: url("../img/icon_twitter.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.our-teams__item--email,
.our-teams__social-item--email {
  background-image: url("../img/icon_mail.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.our-teams__image {
  padding-bottom: 50px; }

.our-teams__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 47px;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #353535; }
  .our-teams__title::after {
    content: "";
    display: block;
    position: absolute;
    top: 33px;
    left: 50%;
    margin-left: -18px;
    width: 35px;
    height: 5px;
    background-color: #3dc9b3; }

.our-teams__description {
  width: inherit;
  margin: 0;
  padding: 0 15px;
  padding-bottom: 15px;
  font-family: "Gotham Rounded Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.our-teams__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.our-teams__social-item {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #242830;
  border-radius: 50%; }
  .our-teams__social-item:hover {
    background-color: #3dc9b3;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in; }

.our-teams-controls {
  padding-bottom: 103px;
  text-align: center; }

.our-teams-controls-btn {
  margin: 0 2px; }

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.subscribe {
  margin: 0 auto;
  text-align: center;
  background-color: #32353a; }

.subscribe--overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/bg_subscribe.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg_subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.subscribe__form {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 153px; }

.subscribe__headline {
  position: relative;
  margin: 0 auto;
  padding: 0;
  padding-left: 2px;
  padding-top: 170px;
  padding-bottom: 42px;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #ffffff; }
  .subscribe__headline::before {
    position: absolute;
    display: block;
    content: "";
    top: 125px;
    left: 50%;
    margin-left: -13px;
    width: 26px;
    height: 26px;
    background-image: url("../img/icon_airplane.png");
    background-repeat: no-repeat;
    background-position: 50% 50%; }

.subscribe__input {
  width: 353px;
  margin-left: 5px;
  padding: 24px 10px;
  border: 1px solid #ffffff;
  background: transparent;
  font: inherit;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff; }
  .subscribe__input:hover {
    outline: 2px solid #3dc9b3; }

.subscribe__button-send {
  margin: 0 auto;
  padding: 25px;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3dc9b3;
  border: none; }
  .subscribe__button-send:hover {
    outline: 1px solid #ffffff; }

.subscribe__button {
  position: absolute;
  display: inline-block;
  bottom: -80px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 55px;
  margin-left: -22px;
  border-radius: 50%;
  background-color: #3dc9b3;
  opacity: 0.8; }
  .subscribe__button::after {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    left: 18px;
    width: 14px;
    height: 14px;
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.contacts {
  background-color: #f5f5f5; }

.contacts-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.contacts__headline {
  position: relative;
  margin: 0 auto;
  padding: 125px 0 130px 3px;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 3px;
  text-transform: uppercase;
  color: #353535;
  text-align: center; }
  .contacts__headline::after {
    position: absolute;
    content: "";
    bottom: 93px;
    left: 50%;
    margin-left: -278px;
    width: 555px;
    height: 15px;
    background-image: url("../img/bg_headline.png");
    background-repeat: no-repeat;
    background-position: center; }

.contacts__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.contacts__item {
  width: 360px;
  text-align: center;
  margin-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff; }

.contacts__title {
  margin: 0;
  padding: 61px 0 25px 6px;
  font-family: "Gotham Rounded Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #3dc9b3;
  text-align: center; }

.contacts__title--address {
  background-image: url("../img/icon_pin.png");
  background-repeat: no-repeat;
  background-position: center 28px; }

.contacts__title--phone {
  background-image: url("../img/icon_mobile-phone.png");
  background-repeat: no-repeat;
  background-position: center 28px; }

.contacts__title--email {
  background-image: url("../img/icon_airplane-black.png");
  background-repeat: no-repeat;
  background-position: center 23px; }

.contacts__description {
  margin: 0;
  padding: 0 0 28px;
  font-family: "Gotham Rounded Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600; }

.contacts__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 225px;
  padding-bottom: 110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.contacts__social-item {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 11px;
  background-color: #242830;
  border-radius: 50%; }
  .contacts__social-item:hover {
    background-color: #3dc9b3;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in; }

.contacts__social-item--dribbble {
  background-image: url("../img/icon_dribbble.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.contacts__social-item--twitter {
  background-image: url("../img/icon_twitter.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.contacts__social-item--email {
  background-image: url("../img/icon_mail.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.main-footer {
  width: 100%;
  background-color: #353535; }

.main-footer__wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 57px 0 43px 31px; }

.main-footer__copyright,
.main-footer__legals {
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  word-spacing: 2px;
  color: #8c9398;
  text-decoration: none; }
